<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>LS ATELIER</h3>
        <p>Desde 1995, criando calçados que transcendem o tempo.</p>
      </div>
      <div class="footer-section">
        <h3>Produtos</h3>
        <a routerLink="/products">Coleção Masculina</a>
        <a routerLink="/products">Coleção Feminina</a>
        <a routerLink="/products">Edições Limitadas</a>
        <a routerLink="/products">Acessórios</a>
      </div>
      <div class="footer-section">
        <h3>Serviços</h3>
        <a href="#">Personalização</a>
        <a href="#">Manutenção</a>
        <a href="#">Consultoria de Estilo</a>
        <a href="#">Entrega Internacional</a>
      </div>
      <div class="footer-section">
        <h3>Contato</h3>
        <p>Milão | Paris | Nova York | Tóquio | São Paulo </p>
        <div class="social-links">
          <a href="#"> Instagram </a>
          <a href="#"> Facebook </a>
          <a href="#"> Pinterest </a>
        </div>
      </div>
    </div>
  
    </footer>