:host {
    display: block;
    padding-top: 120px;
    padding-bottom: 4rem; 
    width: 100%;
    min-height: 100vh; 
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container {
    background: #fff; 
    max-width: 450px;
    width: 90%;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto; 
  }
  
  h2 {
    font-family: var(--font-display); 
    font-size: 32px;
    font-weight: 700;
    color: var(--destaque-vinho);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  label {
    font-weight: 600;
    color: var(--texto-carvao);
    font-size: 14px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  
  input {
    padding: 14px 18px;
    font-size: 16px;
    border: 2px solid #eee;
    border-radius: 12px;
    background: #fdfdfa; 
    color: var(--texto-carvao);
    font-weight: 500;
    font-family: var(--font-body);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  input:focus {
    outline: none;
    border-color: var(--destaque-vinho); 
    box-shadow: 0 0 8px 2px rgba(106, 4, 15, 0.2);
    background: #fff;
  }
  
  
  button {
    padding: 14px 18px;
    border: none;
    border-radius: 12px;
    background: var(--destaque-vinho); 
    color: #fdfdfa; 
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 0 6px 12px rgba(106, 4, 15, 0.3);
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  button:hover {
    background: #4a0208;
    box-shadow: 0 8px 20px rgba(106, 4, 15, 0.5);
    transform: translateY(-3px);
  }
  
  button:disabled {
    background: #ccc;
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
  }